body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  margin: 0;
  padding: 0;
}

.animation-box {
  width: 75%;
  max-width: 900px;
  min-width: 260px;
  height: 27.5rem;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 1.5rem;
  box-sizing: border-box;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  color: #a3ddf0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #f0a3be;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #f0eba3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

/* Responsive styles */
@media (max-width: 600px) {
  .animation-box {
    width: 90%;
    height: auto;
    padding: 1rem;
  }
  .first-text {
    font-size: 2rem;
    left: 1rem;
    top: 1rem;
  }
  .second-text {
    font-size: 1.6rem;
    top: 4.5rem;
    left: 1rem;
    right: auto;
    animation-delay: 1s;
  }
  .third-text {
    transform: rotate(0deg);
    font-size: 1.1rem;
    left: 10%;
    top: 45%;
    white-space: normal;
  }
  .fourth-text {
    font-size: 1.6rem;
    top: 8rem;
    left: 5%;
  }
  .fifth-text {
    font-size: 2.4rem;
    bottom: 10%;
    left: 5%;
  }
}
